In [2]:
#imports
import yfinance as yf 
import pandas as pd 
import numpy as np 
import plotly.io as pio
import plotly.graph_objects as go

In [3]:
#Selecionando ativo (ITUB4) e gerando um DataFrame com a coluna de fechamento (Close)
acao = yf.Ticker('ITUB4.SA') 
data = acao.history(period = '1y')
df = data[['Close']]

In [4]:
#Calculando a média móvel 
mm = df.rolling(window=20).mean()

In [5]:
#calculando desvio padrão
dvp = mm.rolling(window=20).std() 
dvp

               Close
Date
2021-02-08       NaN
2021-02-09       NaN
2021-02-10       NaN
2021-02-11       NaN
2021-02-12       NaN
...              ...
2022-02-01  0.633786
2022-02-02  0.686439
2022-02-03  0.731886
2022-02-04  0.769346
2022-02-07  0.798964

[249 rows x 1 columns]

In [6]:
#calculo da banda superior e inferior 
bsup = mm + 2* dvp 
binf = mm - 2* dvp

In [7]:
#alterando nome das colunas bsup e binf 
bsup = bsup.rename(columns = {'Close':'Superior'}) 
binf = binf.rename(columns = {'Close':'Inferior'})

In [8]:
#unindo colunas
bB = df.join(bsup).join(binf)

In [9]:
bB

                Close   Superior   Inferior
Date
2021-02-08  26.643003        NaN        NaN
2021-02-09  26.962021        NaN        NaN
2021-02-10  26.768684        NaN        NaN
2021-02-11  26.768684        NaN        NaN
2021-02-12  26.836348        NaN        NaN
...               ...        ...        ...
2022-02-01  25.490000  24.859511  22.324366
2022-02-02  25.090000  25.135073  22.389316
2022-02-03  25.379999  25.388739  22.461193
2022-02-04  25.530001  25.609446  22.532063
2022-02-07  25.320000  25.793478  22.597622

[249 rows x 3 columns]

In [10]:
#removendo valores nulos do DataFrame
bB.dropna(inplace=True)

In [11]:
#Calculos de entradas e saidas 
compra = bB[bB['Close'] <= bB['Inferior']]
venda = bB[bB['Close'] >= bB['Superior']]

In [ ]:
#gerando grafico demonstrativo do processamento realizado
pio.templates.default = "plotly_dark"
fig = go.Figure ()
fig.add_trace(go.Scatter(x = binf.index,
                        y = binf['Inferior'],
                        name = 'Banda Inferior',
                        line_color = 'rgba(173,204,255,0.2)'))
fig.add_trace(go.Scatter(x = bsup.index,
                        y = bsup['Superior'],
                        name = 'Banda Superior',
                        fill = 'tonexty',
                        fillcolor = 'rgba(173,204,255,0.2)', 
                        line_color = 'rgba(173,204,255,0.2)'))
fig.add_trace(go.Scatter(x = df.index,
                        y = df['Close'],
                        name = 'Preço Fechamento',
                        line_color = '#636EFA'))
fig.add_trace(go.Scatter(x = mm.index,
                        y = mm['Close'],
                        name = 'Médias Móveis',
                        line_color = '#FECB52'))
fig.add_trace(go.Scatter(x = compra.index,
                        y = compra['Close'],
                        name = 'Compra',
                        mode = 'markers',
                        marker = dict(color = '#00CC96', size = 8)))
fig.add_trace(go.Scatter(x = venda.index,
                        y = venda['Close'],
                        name = 'Venda',
                        mode = 'markers',
                        marker = dict(color = '#EF5538', size = 8)))
fig.show()